<!-- prettier-ignore -->
{% extends "base.html" %} 
{% load static %}

<!-- prettier-ignore -->
{% block app_styles %}
<link rel="stylesheet" href="{% static 'blog/all-posts.css' %}" />
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<header class="min-vh-100" id="all-posts-header">
  {% include "includes/navbar.html" %}
  <div class="content-wrapper container mt-3">
    <h1 class="fw-bold display-5">The Green Journal</h1>
    <div class="container text-center mt-4">
      <div class="row g-4">
        {% for post in all_posts %}
        <div class="col-12 col-sm-6 col-md-4">
          <a
            href="{% url 'single-post' post.slug %}"
            class="post-link card h-100"
          >
            <img
              src="{{ post.image.url }}"
              class="card-img-top"
              alt="{{ post.image_alt }}"
            />
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.excerpt }}</p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</header>
{% endblock %}
