{% extends "base.html" %} {% load static %}

<!-- prettier-ignore -->
{% block app_styles %}
<link rel="stylesheet" href="{% static 'blog/single-post.css' %}" />
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<header class="min-vh-100" id="single-post-header">
  {% include "includes/navbar.html" %}
  <div class="content-wrapper container mt-3">
    <div class="row g-3 g-md-5">
      <div class="col-12 col-md-6">
        <div class="image-container overflow-hidden">
          <img
            class="w-100 object-fit-cover"
            src="{{ post.image.url }}"
            alt="{{ post.image_alt }}"
          />
        </div>
      </div>
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
        <h1 class="display-5 fw-bold">{{ post.title }}</h1>
        <p class="mb-0">{{ post.date }}</p>
        <p class="post-author mt-1 mt-md-4 fw-bold">
          Posted by {{ post.author }}
        </p>
      </div>
      <p class="col-12">{{ post.admin_comment }}</p>
    </div>
  </div>
</header>
<main class="container mt-5">
  <section id="comments-section">
    <h1 class="text-center">Comments</h1>
    <div class="comments-container mt-4">
      <!-- prettier-ignore -->
      {% if has_comments %}
      {% for comment in comments %}
      <div class="comment p-4 mb-4" data-comment-id="{{ comment.id }}">
        <div class="comment__user">
          <p class="comment__user--name fw-bold fs-5 mb-0">
            {{ comment.author }}
          </p>
          <p class="comment__user--date">{{ comment.date }}</p>
        </div>
        <p class="comment__content mb-4">{{ comment.user_comment }}</p>
        {% if comment.author == user %}
        <div class="comment__buttons d-flex justify-content-sm-end">
          <button class="comment__buttons--edit btn">Edit</button>
          <button class="comment__buttons--delete btn">Delete</button>
        </div>
        {% endif %}
      </div>
      {% endfor %} {% endif %}
      <!-- prettier-ignore -->
      <p class="comments-placeholder d-block text-center fs-4 fw-bold my-4">
        This post has no comments yet.
      </p>
    </div>

    {% if user.is_authenticated %}
    <form action="" method="post" class="my-4">
      {% csrf_token %} {{ form.non_field_errors }}

      <div class="mb-3 d-flex flex-column">
        <label
          for="{{ form.user_comment.id_for_label }}"
          class="form-label fs-5 fw-bold"
          >Your comment:</label
        >
        {{ form.user_comment }} {{ form.user_comment.errors }}
      </div>
      <button
        class="comment-submit-btn btn btn-primary py-3 px-4 fw-bold rounded-5"
      >
        Submit
      </button>
    </form>
    {% else %}
    <p class="text-area-placeholder text-center fs-4 fw-bold my-4">
      Login to leave a comment
    </p>
    {% endif %}
  </section>
</main>

<!-- Edit Comment Modal -->
<div class="modal fade" tabindex="-1" id="edit-comment-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold fs-3">Edit comment</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="" method="post">
          {% csrf_token %}
          <div class="mb-4">
            <label for="edit-comment" class="form-label fw-bold"
              >Edit your comment:</label
            >
            <textarea
              id="edit-comment"
              name="new-comment"
              class="form-control"
              placeholder="Enter your new comment"
              minlength="10"
              maxlength="300"
              rows="8"
            ></textarea>
          </div>

          <p class="edit-comment-error d-none fw-bold"></p>

          <button
            type="button"
            class="cancel-edit-btn btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button class="save-edit-btn btn btn-primary">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Comment Added Toast -->
<div class="toast-container position-fixed bottom-0 end-0 p-3 text-white z-3">
  <div
    id="comment-toast-add"
    class="toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <!-- prettier-ignore -->
    <div class="toast-content d-flex justify-content-between align-items-center p-3">
        {% if messages %}
            {% for message in messages %}
              <div class="new-message fs-5 fw-bold">
                {{ message }}
              </div>
            {% endfor %}
        {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

<!-- Comment Added/Deleted Toast -->
<div class="toast-container position-fixed bottom-0 end-0 p-3 text-white z-3">
  <div
    id="comment-toast-action"
    class="toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div
      class="toast-content d-flex justify-content-between align-items-center p-3"
    >
      <div class="comment-toast-action__message fs-5 fw-bold"></div>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>
{% endblock %}

<!-- prettier-ignore -->
{% block scripts %}
<script src="{% static 'blog/js/comment-action.js' %}"></script>
<script src="{% static 'blog/js/add-comment.js' %}"></script>
{% endblock %}
