{% extends "base.html" %} {% load static %}

<!-- prettier-ignore -->
{% block app_styles %}
<link rel="stylesheet" href="{% static 'blog/single-post.css' %}" />
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<header class="min-vh-100" id="single-post-header">
  {% include "includes/navbar.html" %}
  <div class="content-wrapper container mt-3">
    <div class="row g-3 g-md-5">
      <div class="col-12 col-md-6">
        <div class="image-container overflow-hidden">
          <img
            class="w-100 object-fit-cover"
            src="{{ post.image.url }}"
            alt="{{ post.image_alt }}"
          />
        </div>
      </div>
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
        <h1 class="display-5 fw-bold">{{ post.title }}</h1>
        <p class="mb-0">{{ post.date }}</p>
        <p class="post-author mt-1 mt-md-4 fw-bold">
          Posted by {{ post.author }}
        </p>
      </div>
      <p class="col-12">{{ post.comment }}</p>
    </div>
  </div>
</header>
<main class="container mt-5">
  <section id="comments-section">
    <h1 class="text-center">Comments</h1>
    <div class="comments-container mt-4">
      <div class="comment p-4">
        <div class="comment__user">
          <p class="comment__user--name fw-bold fs-5 mb-0">FLORIN</p>
          <p class="comment__user--date">22 June 2025</p>
        </div>
        <p class="comment__content mb-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
          totam unde dolorem deserunt odio suscipit exercitationem earum sint
          ipsam? Soluta ex, molestias voluptates placeat at similique vitae
          deserunt laborum assumenda.
        </p>
        <div class="comment__buttons d-flex justify-content-sm-end">
          <button class="comment__buttons--edit btn">Edit</button>
          <button class="comment__buttons--delete btn">Delete</button>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
