<!-- prettier-ignore -->
{% extends "base.html" %}
{% load static %}

<!-- prettier-ignore -->
{% block app_styles %}
<link rel="stylesheet" href="{% static 'core/core.css' %}" />
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<header class="min-vh-100 d-flex flex-column" id="about-header">
  {% include "includes/navbar.html" %}
  <div class="content-wrapper container mt-3">
    <h1 class="fw-bold display-5 w-75">
      Our mission is to help Earth breathe again
    </h1>
    <p class="mt-3">
      At ReLeaf, we believe that planting trees is one of the simplest and most
      powerful ways to combat climate change and restore the environment. Our
      mission is to reforest degraded land, support biodiversity, and create
      healthier communities.
    </p>
  </div>
  <div class="container stats mt-4 mt-md-auto">
    <div class="row">
      <!-- Stats item -->
      <div class="col-12 col-md-4">
        <div class="countries-reached d-flex flex-column align-items-center">
          <i class="fa-solid fa-earth-americas display-3"></i>
          <p class="fw-bold fs-5 mb-0">Countries reached</p>
          <p class="countries-reached-num fs-4 fw-bold">78</p>
        </div>
      </div>
      <!-- Stats item -->
      <div class="col-12 col-md-4">
        <div class="forests-restored d-flex flex-column align-items-center">
          <i class="fa-solid fa-tree display-3"></i>
          <p class="fw-bold fs-5 mb-0">Forests restored</p>
          <p class="forests-restored-num fs-4 fw-bold">90</p>
        </div>
      </div>
      <!-- Stats item -->
      <div class="col-12 col-md-4">
        <div class="projects-completed d-flex flex-column align-items-center">
          <i class="fa-solid fa-list-check display-3"></i>
          <p class="fw-bold fs-5 mb-0">Projects completed</p>
          <p class="projects-completed-num fs-4 fw-bold">60</p>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="container">
  <section id="gallery-section" class="mt-5">
    <h1 class="fw-bold display-5">Rooted in Care</h1>
    <div class="grid-images mt-3">
      <div class="rounded-3 overflow-hidden">
        <img
          class="w-100 h-100 object-fit-cover"
          src="{% static 'core/images/tree-hugging.jpg' %}"
          alt=""
        />
      </div>
      <div class="rounded-3 overflow-hidden">
        <img
          class="w-100 h-100 object-fit-cover"
          src="{% static 'core/images/planting-your-seedling.jpg' %}"
          alt=""
        />
      </div>
      <div class="rounded-3 overflow-hidden">
        <img
          class="w-100 h-100 object-fit-cover"
          src="{% static 'core/images/many-hands-one-tree.jpg' %}"
          alt=""
        />
      </div>
      <div class="rounded-3 overflow-hidden">
        <img
          class="w-100 h-100 object-fit-cover"
          src="{% static 'core/images/forest-edge.jpg' %}"
          alt=""
        />
      </div>
    </div>
  </section>

  <section id="our-mission-section" class="mt-5">
    <h1 class="fw-bold display-5">Our Mission & Vision</h1>
    <div class="row mt-3">
      <div class="col-12 col-lg-6">
        <div class="our-mission__content">
          <p>
            At ReLeaf, our mission is to reconnect people with nature by
            restoring green spaces through community-driven tree planting,
            education, and environmental stewardship. We believe that by
            empowering individuals to take simple, collective action, we can
            heal ecosystems, combat climate change, and create a healthier
            planet for future generations.
          </p>
          <p>
            We envision a world where every community thrives in harmony with
            nature — where forests are protected, urban landscapes breathe life,
            and people of all ages feel inspired to grow greener together.
            Through every tree we plant and every hand we join, we are
            cultivating a future rooted in sustainability, unity, and hope.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="our-mission__image rounded-3 overflow-hidden">
          <img
            src="{% static 'core/images/woman-walking-under-tree.jpg' %}"
            class="w-100 object-fit-cover"
            alt="Woman walking under tree"
          />
        </div>
      </div>
    </div>
  </section>

  <section id="our-history-section" class="my-5">
    <h1 class="fw-bold display-5 text-start text-lg-end">Our History</h1>
    <div class="row mt-3">
      <div class="col-12 col-lg-6">
        <div class="our-history__image rounded-3 overflow-hidden">
          <img
            src="{% static 'core/images/amazon-planting.jpg' %}"
            class="w-100 object-fit-cover"
            alt="Woman walking under tree"
          />
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="our-history__content">
          <p>
            Founded in 2021 by a small team of environmentalists, GreenRoot
            began with one mission: to make tree planting easy, transparent, and
            impactful. With just a handful of volunteers and a lot of passion,
            we planted our first 500 trees in affected regions of Amazon.
          </p>
          <p>
            Since then, we've expanded our reach across multiple continents,
            collaborating with local communities, conservationists, and everyday
            donors like you. Every campaign is a step toward restoring
            ecosystems and fighting climate change.
          </p>
          <p>
            Today, with thousands of donors and over 150,000 trees planted, our
            roots run deeper than ever. And we're just getting started.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}

<!-- prettier-ignore -->
{% block scripts %}
<script src="{% static 'core/js/core.js' %}" type="module"></script>
{% endblock %}
