/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

#register-header,
#login-header {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("./images/two-brown-trees.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#register-header form,
#login-header form {
  width: 70%;
}

#register-header form .form-label,
#login-header form .form-label {
  color: var(--color-secondary-light);
}

#register-header form input,
#login-header form input {
  padding: 0.75rem;
  border-radius: 1rem;
  background-color: var(--color-gray-transparent);
  caret-color: var(--color-gray-light);
  color: var(--color-white);
}

#register-header form input::-webkit-input-placeholder,
#login-header form input::-webkit-input-placeholder {
  color: var(--color-gray-light);
}

#register-header form input::-moz-placeholder,
#login-header form input::-moz-placeholder {
  color: var(--color-gray-light);
}

#register-header form input:-ms-input-placeholder,
#login-header form input:-ms-input-placeholder {
  color: var(--color-gray-light);
}

#register-header form input::-ms-input-placeholder,
#login-header form input::-ms-input-placeholder {
  color: var(--color-gray-light);
}

#register-header form input::placeholder,
#login-header form input::placeholder {
  color: var(--color-gray-light);
}

#register-header form button,
#login-header form button {
  background-color: var(--color-secondary);
  border: none;
}

#register-header form button:active,
#register-header form button:hover,
#login-header form button:active,
#login-header form button:hover {
  background-color: var(--color-secondary-light);
}

.errorlist {
  list-style: none;
  font-weight: bold;
  color: var(--color-red);
}

/* ===================== */
/* Media Queries */
/* ===================== */
@media only screen and (max-width: 576px) {
  #register-header form,
  #login-header form {
    width: 100%;
  }
}
