/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

#donations-header {
  background-color: var(--color-primary);
}

#donations-header .navbar {
  background-color: var(--color-primary);
}

.donation-card {
  background-color: var(--color-white);
}

.donation-card .donation-card__image img {
  width: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.donation-card .donation-card__amount {
  color: var(--color-primary);
}

.donation-card .donation-card__description {
  color: var(--color-black);
}

.donation-card .donation-card__button,
#donation-amount-form .donation-form__button {
  background-color: var(--color-secondary);
  border: none;
}

#donation-amount-form .donation-form__button:active,
#donation-amount-form .donation-form__button:hover,
.donation-card .donation-card__button:active,
.donation-card .donation-card__button:hover {
  background-color: var(--color-secondary-light);
}

p .amount {
  color: var(--color-secondary);
}

#donation-toast {
  background-color: var(--color-secondary-light);
}
