#donation-success-header {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("./images/forest-trees.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#donation-success-header .return-to-homepage-btn {
  background-color: var(--color-secondary);
  border: none;
}

#donation-success-header .return-to-homepage-btn:active,
#donation-success-header .return-to-homepage-btn:hover {
  background-color: var(--color-secondary-light);
}
