#donations-header {
  background-color: var(--color-primary);
}

#donations-header .navbar {
  background-color: var(--color-primary);
}

.donation-card {
  background-color: var(--color-white);
}

.donation-card__image img {
  width: 50%;
  object-fit: cover;
}

.donation-card__amount {
  color: var(--color-primary);
}

.donation-card__description {
  color: var(--color-black);
}

.donation-card__button {
  background-color: var(--color-secondary);
  border: none;
}

.donation-card__button:active,
.donation-card__button:hover {
  background-color: var(--color-secondary-light);
}

p .amount {
  color: var(--color-secondary);
}
